.navbar {
  font-weight: 500;
  box-shadow: 0 5px 20px -10px #efe1e1;
  padding-left: 10% !important;
  padding-right: 10% !important;
}
.navbar .navbar-nav .nav-link {
  color: #000000;
}
.navbar .navbar-nav .nav-link:hover {
  color: #000000;
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #cda274;
  width: 0%;
  content: "";
  height: 3px;
  transition: all 0.5s;
}

.navbar .navbar-nav .nav-item:hover::after {
  width: 100%;
}
@media only screen and (min-width: 992px) {
  .navbar {
    padding-left: 10%;
    padding-right: 10%;
  }
  .navbar .navbar-brand {
    padding: 0 0.7em;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em 0;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}
.navbar .navbar-nav .nav-item::after {
  transition: all 0.5s;
}
.banner {
  height: calc(100vh - 80px);
  background-image: url("./images/Catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 20%;
}
.aboutUs {
  background-image: url("./images/bgAboutus.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 356px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.headerAbout {
  font-family: "DM Serif Display", serif;
  background-color: white;
  border-radius: 37px 37px 0px 0px;
  width: 15%;
  height: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}
.subHead {
  font-family: "DM Serif Display", serif;
  font-size: 1.5rem;
}
.para {
  font-family: "Jost", sans-serif;
  font-style: normal;
  font-weight: 400;
}
.about1Img {
  background-image: url("./images/about1.jpg");
  border-radius: 70px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.about2Img {
  background-image: url("./images/about2.jpg");
  border-radius: 70px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.about3Img {
  background-image: url("./images/about3.jpg");
  border-radius: 70px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.about4Img {
  background-image: url("./images/about4.jpg");
  border-radius: 70px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.Footetli {
  list-style-type: none;
}
.lihead {
  font-family: "DM Serif Display", serif;
}
.lilist {
  font-family: "Jost", sans-serif;
  padding-top: 3%;
  cursor: pointer;
}
.txtFooter {
  justify-content: center;
  display: flex;
  padding-top: 4px;
  padding-bottom: 4px;
}
.Footer {
  padding-top: 10px;
  border-top: 2px solid #f4f0ec;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 3%;
  padding-bottom: 3%;
}

.contactUs {
  background-image: url("./images/bgContactus.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 356px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.contactInfodiv {
  background-color: #f4f0ec;
  padding: 3%;
  border-radius: 70px;
  justify-content: center;
  display: flex;
}
.iconbg {
  display: inline;
  background-color: white;
  padding: 15px;
  border-radius: 50px;
  margin-right: 1rem;
}
.lilistCont {
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.liaddress {
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.carddis {
  margin-left: 3rem !important;
  margin-bottom: 3rem !important;
  cursor: pointer;
}
.carddis:hover {
  background-color: whitesmoke;
}
.operaAble {
  background-image: url("./images/operablewall.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 356px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.headerSolid {
  font-family: "DM Serif Display", serif;
  background-color: white;
  border-radius: 37px 37px 0px 0px;
  width: 15%;
  height: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}
.almaImg {
  background-image: url("./images/Alma1.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.solidHead {
  background-image: url("./images/bannerSolid.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 356px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.aqaImg {
  background-image: url("./images/Aquaimg.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.waveImg {
  background-image: url("./images/waveImg.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.vistaImg {
  background-image: url("./images/vistaImg.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.subHead2 {
  font-family: "DM Serif Display", serif;
  font-size: 3rem;
  color: #dd9344;
}
.headerGlass {
  font-family: "DM Serif Display", serif;
  background-color: white;
  border-radius: 37px 37px 0px 0px;
  width: 30%;
  height: 20%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 1.5rem;
}
.partitiontwenty {
  background-image: url("./images/PARTITION26.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.partitionfour {
  background-image: url("./images/PARTITION40.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.partitionhund {
  background-image: url("./images/PARTITION100.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.SingleGlazed6img {
  background-image: url("./images/singelglazed/singleglazed1.JPEG");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.SingleGlazedv5img {
  background-image: url("./images/singelglazed/singleglazed2.JPEG");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.SingleGlazedv4img {
  background-image: url("./images/singelglazed/singleglazed3.JPEG");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.SingleGlazedv3img {
  background-image: url("./images/singelglazed/signleglazed4.JPEG");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.SingleGlazedv2img {
  background-image: url("./images/singelglazed/singleglazed5.JPEG");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.SingleGlazed1img {
  background-image: url("./images/singelglazed/singleglazed6.JPEG");
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.singleglazedHead {
  background-image: url("./images/singelglazed/singleglazed2.JPEG");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 400px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.demoutableHead {
  background-image: url("./images/PARTITION26.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 400px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
.movableHead {
  background-image: url("./images/vistaImg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 400px;
  justify-content: center;
  align-items: flex-end;
  display: flex;
}
